  /*Contacto */
  /*
  .primary-back-color {
    background-color: #E0E1DC;
  }

  .container-contacto {
    display: flex;
    padding: 20px;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    background-color: #788DAA;
  }
  */
  /*Fin contacto*/

  section {
    background-color: #E0E1DC;
    div .container-contacto {
        display: flex;
        padding: 20px;
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        background-color: #788DAA;
    }
  }