section{
    background-color: #0E1B2B;
    div .container-proceso {
        div {
            img {
                width: 20%;
            }
            ul {
                li {
                    span {
                        color: #E0E1DC;
                    }
                    p {
                        color: #E0E1DC;
                    }
                }
            }
        }
    }
}